body {
  background-color: slategrey;
  font-family: sans-serif;
  
}
#categories{
  text-align: center;
}

.topic {
  padding: 15px;
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: darkslategrey;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
}
h1 {
  color: #fff;
}

#fig {
  text-align: center;
}
.gif img {
  width: auto;
  
}

.gif p {
  padding: 5px;
}
.gif {
  padding: 40px;
  display: inline-flex;
}